= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below.
  - end
  .control.is-horizontal
    .control-label
      = label f, :name, class: "label"
    .control
      = text_input f, :name, class: "input"
    = error_tag f, :name
  .control.is-horizontal
    .control-label
      = label f, :description, class: "label"
    .control
      = textarea f, :description, class: "textarea"
    = error_tag f, :description
  .control.is-horizontal
    .control-label
      = label f, :purpose, class: "label"
    .control
      = textarea f, :purpose, class: "textarea"
    = error_tag f, :purpose
  .control.is-horizontal
    .control-label
      = label f, :sense_of_values, class: "label"
    .control
      = textarea f, :sense_of_values, class: "textarea"
    = error_tag f, :sense_of_values
  .control.is-horizontal
    .control-label
      = label f, :goal, class: "label"
    .control
      = textarea f, :goal, class: "textarea"
    = error_tag f, :goal
  .control.is-horizontal
    .control-label
      = label f, :kpi, class: "label"
    .control
      = textarea f, :kpi, class: "textarea"
    = error_tag f, :kpi
  .control.is-horizontal
    .control-label
      = label f, :establishment_on, class: "label"
    .control
      = text_input f, :establishment_on, class: "input"
      = error_tag f, :establishment_on
  .control.has-addons.has-addons-centered
    = submit "Submit", class: "button is-primary"
- end
