= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below.
  - end
  
  .form-group
    = label f, :name, class: "control-label"
    = text_input f, :name, class: "form-control"
    = error_tag f, :name
  .form-group
    = label f, :description, class: "control-label"
    = textarea f, :description, class: "form-control"
    = error_tag f, :description
  .form-group
    = label f, :purpose, class: "control-label"
    = textarea f, :purpose, class: "form-control"
    = error_tag f, :purpose
  .form-group
    = label f, :sense_of_values, class: "control-label"
    = textarea f, :sense_of_values, class: "form-control"
    = error_tag f, :sense_of_values
  .form-group
    = label f, :goal, class: "control-label"
    = textarea f, :goal, class: "form-control"
    = error_tag f, :goal
  .form-group
    = label f, :kpi, class: "control-label"
    = textarea f, :kpi, class: "form-control"
    = error_tag f, :kpi
  .form-group
    = label f, :establishment_on, class: "control-label"
    = date_select f, :establishment_on, class: "form-control"
    = error_tag f, :establishment_on
  .form-group
    = submit "Submit", class: "btn btn-primary"
- end
