.columns
  .column
    %h2.title.is-2 Listing teams
  .column.has-text-right
    = link "New team", to: admin_team_path(@conn, :new), class: "button is-primary"
%table.table.is-striped
  %thead
    %tr
      %th チーム名
      %th 概要
      %th 設立日
      %th
  %tbody
    = for team <- @teams do
      %tr
        %td= team.name
        %td= team.description
        %td= team.establishment_on
        %td.has-text-right
          = link "Show", to: admin_team_path(@conn, :show, team), class: "button is-small is-info"
          = link "Edit", to: admin_team_path(@conn, :edit, team), class: "button is-small"
    - end
